themes/*
resources/*
resources
themes

.DS_Store

public
public/*
public/index.html
public/categories
public/tags
public/index.xml
public/sitemap.xml

venv/*
content/.obsidian/app.json
content/.obsidian/appearance.json
content/.obsidian/core-plugins.json
content/.obsidian/workspace.json
